In [53]:
import dataImport 
import numpy as np
import pandas as pd

In [2]:
(train, test) = dataImport.dataImport()

dataImport.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  trip_train["subscription_type"][trip_train["subscription_type"] == "Subscriber"] = 1
dataImport.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  trip_train["subscription_type"][trip_train["subscription_type"] == "Customer"] = 2
dataImport.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  trip_test["subscription_type"][trip_test["subscription_type"] == "Subscriber"] = 1
dataImport.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  trip_test["subscription_type"][trip_test["subscription_type"] == "Customer"] = 2

In [6]:
train.head()

,duration,start_station_id,bike_id,subscription_type,zip_code,start_date_weekday,start_date_month,start_date_hour
0,396,50,187,1,94602,3,8,8
1,636,67,417,1,94133,0,7,22
2,334,77,281,1,94107,0,6,8
3,666,69,634,1,94602,0,1,16
4,318,67,607,1,94709,5,8,15

In [46]:
sample = train.sample(5)
sample.head()

,duration,start_station_id,bike_id,subscription_type,zip_code,start_date_weekday,start_date_month,start_date_hour
88093,424,75,617,1,94111,2,5,12
518888,2038,58,513,2,95688,5,9,10
148313,334,39,359,1,94103,2,6,12
475675,957,50,443,1,94610,4,3,11
280658,1891,51,509,2,10019,5,9,14

In [47]:
sample.drop(['start_date_month','bike_id'],inplace=True,axis=1)

In [67]:
sample.head()

,duration,start_station_id,subscription_type,zip_code,start_date_weekday,start_date_hour
88093,424,75,1,94111,2,12
518888,2038,58,2,95688,5,10
148313,334,39,1,94103,2,12
475675,957,50,1,94610,4,11
280658,1891,51,2,10019,5,14

Desviacion standar de la duracion:

In [68]:
np.std(sample.duration)

716.31819745138409

Desviacion standar de start_station_id contra duracion

In [69]:
np.std(sample.start_station_id)

11.876026271442818

In [134]:
for column in sample.columns:
    if column != 'duration':
        print sample.groupby(column,as_index=False)['duration'].agg(np.std,ddof=0)

   start_station_id  duration
0                39       0.0
1                50       0.0
2                51       0.0
3                58       0.0
4                75       0.0
   subscription_type    duration
0                  1  274.937973
1                  2   73.500000
  zip_code  duration
0    10019       0.0
1    94103       0.0
2    94111       0.0
3    94610       0.0
4    95688       0.0
   start_date_weekday  duration
0                   2      45.0
1                   4       0.0
2                   5      73.5
   start_date_hour  duration
0               10       0.0
1               11       0.0
2               12      45.0
3               14       0.0

Desviacion standar de cada columna contra Duration

In [211]:


for column in sample.columns:
    probs =[]
    stdTot=0
    if column != 'duration':
        print sample.groupby(column,as_index=False)['duration'].agg(['count'])
        
        for value in sample.groupby(column,as_index=False)['duration'].agg(['count'])['count']:
            probs.append(float(value)/len(sample.groupby(column,as_index=False)['duration'].agg(['count'])['count']))
        print probs

            
            #         print sample.groupby(column,as_index=False)['duration'].agg(np.std,ddof=0)
#         for value in sample.groupby(column,as_index=False)['duration'].agg(np.std,ddof=0):
#             for std in sample.groupby(column,as_index=False)['duration'].agg(np.std,ddof=0)['duration']:
#                 stdTot += std * s

                  count
start_station_id
39                    1
50                    1
51                    1
58                    1
75                    1
[0.2, 0.2, 0.2, 0.2, 0.2]
                   count
subscription_type
1                      3
2                      2
[1.5, 1.0]
          count
zip_code
10019         1
94103         1
94111         1
94610         1
95688         1
[0.2, 0.2, 0.2, 0.2, 0.2]
                    count
start_date_weekday
2                       2
4                       1
5                       2
[0.6666666666666666, 0.3333333333333333, 0.6666666666666666]
                 count
start_date_hour
10                   1
11                   1
12                   2
14                   1
[0.25, 0.25, 0.5, 0.25]