In [5]:
import dataImport 
import numpy as np
import pandas as pd

In [2]:
(train, test) = dataImport.dataImport()

dataImport.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  trip_train["subscription_type"][trip_train["subscription_type"] == "Subscriber"] = 1
dataImport.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  trip_train["subscription_type"][trip_train["subscription_type"] == "Customer"] = 2
dataImport.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  trip_test["subscription_type"][trip_test["subscription_type"] == "Subscriber"] = 1
dataImport.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  trip_test["subscription_type"][trip_test["subscription_type"] == "Customer"] = 2

In [6]:
train.head()

,duration,start_station_id,bike_id,subscription_type,zip_code,start_date_weekday,start_date_month,start_date_hour
0,396,50,187,1,94602,3,8,8
1,636,67,417,1,94133,0,7,22
2,334,77,281,1,94107,0,6,8
3,666,69,634,1,94602,0,1,16
4,318,67,607,1,94709,5,8,15

In [46]:
sample = train.sample(5)
sample.head()

,duration,start_station_id,bike_id,subscription_type,zip_code,start_date_weekday,start_date_month,start_date_hour
88093,424,75,617,1,94111,2,5,12
518888,2038,58,513,2,95688,5,9,10
148313,334,39,359,1,94103,2,6,12
475675,957,50,443,1,94610,4,3,11
280658,1891,51,509,2,10019,5,9,14

In [47]:
sample.drop(['start_date_month','bike_id'],inplace=True,axis=1)

In [67]:
sample.head()

,duration,start_station_id,subscription_type,zip_code,start_date_weekday,start_date_hour
88093,424,75,1,94111,2,12
518888,2038,58,2,95688,5,10
148313,334,39,1,94103,2,12
475675,957,50,1,94610,4,11
280658,1891,51,2,10019,5,14

Desviacion standar de la duracion:

In [226]:
std_duration=np.std(sample.duration)

Desviacion standar de start_station_id contra duracion

In [69]:
np.std(sample.start_station_id)

11.876026271442818

In [134]:
for column in sample.columns:
    if column != 'duration':
        print sample.groupby(column,as_index=False)['duration'].agg(np.std,ddof=0)

   start_station_id  duration
0                39       0.0
1                50       0.0
2                51       0.0
3                58       0.0
4                75       0.0
   subscription_type    duration
0                  1  274.937973
1                  2   73.500000
  zip_code  duration
0    10019       0.0
1    94103       0.0
2    94111       0.0
3    94610       0.0
4    95688       0.0
   start_date_weekday  duration
0                   2      45.0
1                   4       0.0
2                   5      73.5
   start_date_hour  duration
0               10       0.0
1               11       0.0
2               12      45.0
3               14       0.0

Desviacion standar de cada columna contra Duration

In [245]:
stds =[]

for column in sample.columns:
    
    stdTot=0
    if not column == 'duration':
        probs =[]
        print sample.groupby(column,as_index=False)['duration'].agg(['count'])
        cant=0
        for value in sample.groupby(column,as_index=False)['duration'].agg(['count'])['count']:
            cant += value 
        for value in sample.groupby(column,as_index=False)['duration'].agg(['count'])['count']:
            probs.append(float(value)/cant)
        print probs
        print sample.groupby(column,as_index=False)['duration'].agg(np.std,ddof=0)
        for value in sample.groupby(column,as_index=False)['duration'].agg(np.std,ddof=0):
            i=0
        for std in sample.groupby(column,as_index=False)['duration'].agg(np.std,ddof=0)['duration']:
            stdTot += std * probs[i]
            i +=1
    print stdTot
    stds +=[(column,stdTot)]

0
                  count
start_station_id
39                    1
50                    1
51                    1
58                    1
75                    1
[0.2, 0.2, 0.2, 0.2, 0.2]
   start_station_id  duration
0                39       0.0
1                50       0.0
2                51       0.0
3                58       0.0
4                75       0.0
0.0
                   count
subscription_type
1                      3
2                      2
[0.6, 0.4]
   subscription_type    duration
0                  1  274.937973
1                  2   73.500000
194.362783682
          count
zip_code
10019         1
94103         1
94111         1
94610         1
95688         1
[0.2, 0.2, 0.2, 0.2, 0.2]
  zip_code  duration
0    10019       0.0
1    94103       0.0
2    94111       0.0
3    94610       0.0
4    95688       0.0
0.0
                    count
start_date_weekday
2                       2
4                       1
5                       2
[0.4, 0.2, 0.4]
   start_date_weekday  duration
0                   2      45.0
1                   4       0.0
2                   5      73.5
47.4
                 count
start_date_hour
10                   1
11                   1
12                   2
14                   1
[0.2, 0.2, 0.4, 0.2]
   start_date_hour  duration
0               10       0.0
1               11       0.0
2               12      45.0
3               14       0.0
18.0

In [1]:
l = []
for std in stds:
    l.append((std[0],std_duration - std[1]))
print l

print max(l,key=lambda item:item[1])

NameError: name 'stds' is not defined

In [75]:
prueba = pd.read_csv('../Data/youtube.csv')
n_columns = len(prueba.columns)
# print columns_cant

data_dict ={}

for column in prueba.columns:
    data_dict[column] = prueba.ix[:, column].tolist()
    
print data_dict['windy']

[0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1]

In [68]:
#convertir el data set a lista
dataset = list(prueba.values.flatten()) #load_csv(prueba)

In [70]:
print dataset

[1, 3, 1, 0, 25, 1, 3, 1, 1, 30, 2, 3, 1, 0, 46, 3, 2, 1, 0, 45, 3, 1, 0, 0, 52, 3, 1, 0, 1, 23, 2, 1, 0, 1, 43, 1, 2, 1, 0, 35, 1, 1, 0, 0, 38, 3, 2, 0, 0, 46, 1, 2, 0, 1, 48, 2, 2, 1, 1, 52, 2, 3, 0, 0, 44, 3, 2, 1, 1, 30]

In [74]:
#dataset como lista
#column numero de columna empezando por 0
#t_row valor de la fila sobre la cual se quiere calcular la std
def std_column(dataset,column,t_row,len_column): 
    std_duration = list()  
    if column == 0: rango =1
    if t_row != 9999:
        for i in range(column,len(dataset),len_column):  
            if t_row == dataset[i]:
                std_duration.append(dataset[i-column])
    else:            
        for i in range(column,len(dataset),len_column):  
            std_duration.append(dataset[i])
            
    print std_duration
    return np.std(std_duration)

In [ ]:
def std_columns(dataset,n_columns):
    stds=list()
    for i in range(n_columns): 
        #por cada valor dentro de la columna
        for i range ()
        stds.append(std_column(dataset,i,9999,))
        
    
    return stds

In [73]:
def buildTree(dataset,n_column):
    #construccion del nodo raiz
    #primero calculamos desviacion std del parametro a predecir
    std_root = std_column(dataset,4,9999,n_columns)
    stds_columns = std_columns(dataset,n_columns)