In [3]:
import pandas as pd
import numpy as np

In [9]:
trip_train = pd.read_csv("Data/trip_train.csv")
trip_train.start_date = pd.to_datetime(trip_train.start_date, format='%m/%d/%Y %H:%M') 
trip_train.end_date = pd.to_datetime(trip_train.end_date, format='%m/%d/%Y %H:%M')

trip_train.head()

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,907649,396,2015-08-27 08:36:00,Harry Bridges Plaza (Ferry Building),50,2015-08-27 08:43:00,Embarcadero at Sansome,60,187,Subscriber,94602
1,384043,636,2014-07-28 22:06:00,Market at 10th,67,2014-07-28 22:17:00,Washington at Kearny,46,417,Subscriber,94133
2,316176,334,2014-06-09 08:42:00,Market at Sansome,77,2014-06-09 08:47:00,2nd at Folsom,62,281,Subscriber,94107
3,618874,666,2015-01-26 16:55:00,San Francisco Caltrain 2 (330 Townsend),69,2015-01-26 17:07:00,Temporary Transbay Terminal (Howard at Beale),55,634,Subscriber,94602
4,910977,318,2015-08-29 15:09:00,Market at 10th,67,2015-08-29 15:14:00,Powell Street BART,39,607,Subscriber,94709

In [10]:

#df['dura_min'] = (df.end_date - df.start_date).dt.seconds - 60
#df['dura_max'] = df.dura_min + 120
trip_train['delta_duration'] = trip_train.duration - (trip_train.end_date - trip_train.start_date).dt.total_seconds()

print ("-----------")
print (trip_train.loc[:,['id','delta_duration']])

-----------
            id  delta_duration
0       907649           -24.0
1       384043           -24.0
2       316176            34.0
3       618874           -54.0
4       910977            18.0
5       522083           -23.0
6       880809            34.0
7       488938           -14.0
8       899522            -9.0
9       737380            27.0
10      291053           -14.0
11      332574            -4.0
12      432022            40.0
13      398366            45.0
14      863630             1.0
15      644854            11.0
16      390681           -12.0
17      224386            -5.0
18      246380            23.0
19      350371            16.0
20      429032             6.0
21      479700            11.0
22      529387             2.0
23      777536           -25.0
24      769331            20.0
25      537257           -23.0
26      298292           -25.0
27      485095           -10.0
28      109338           -48.0
29      416274            -8.0
...        ...             ...
549931   10841           -29.0
549932  155867            43.0
549933  322105             6.0
549934  865329             0.0
549935  419180           -10.0
549936  288255            15.0
549937   27175            33.0
549938  716966             0.0
549939  422409            -2.0
549940  599416           -38.0
549941  860647           -22.0
549942  174919            43.0
549943  449873            26.0
549944  711539            -9.0
549945  150716            10.0
549946  172164           -18.0
549947  444391            50.0
549948   53552            16.0
549949  673387            -1.0
549950  102255            53.0
549951  629989            18.0
549952  565782           -26.0
549953  443642           -26.0
549954  527512            47.0
549955  717951           -23.0
549956  154475             0.0
549957   89909            -8.0
549958  273152            46.0
549959  200932            -4.0
549960  821609            -7.0

[549961 rows x 2 columns]